<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center><h1><%= title %></h1></center>
    <center><h3>Neste site você encontrara as notícias que estão acontecendo hoje no mundo</h3></center>
    <center> <h3> Para começar a ver essas notícias,<mark>clique neste link abaixo</mark>, onde você será<br> redirecionado a página de todas as noticias de hoje.<br><br><br>Não fique por fora do que esta acontecendo no País e no Mundo.</h3><br>
 <h2><a href="/noticias">Lista de Notícias de Hoje</a></center></h2>
    </center>
  </body>
</html>
