<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
<center><h2>Hoje é Dia: celebrações à democracia e à televisão marcam a semana</h2></center>
<center><h3>O Hoje é Dia da semana entre 12 e 18 de setembro está repleto de datas que visam celebrar conquistas e conscientizar a população. No dia 15, é celebrado o Dia Internacional<br> da Democracia. A data foi reconhecida pela Organização das Nações Unidas (ONU) em 2007 e marca a data da assinatura da Declaração Universal da Democracia em 1997.<p>Em 2014, a TV Brasil exibiu a série de cinco episódios Os Caminhos da Democracia, que narra a luta pela democracia no país entre os anos 30 e 90 do século passado na perspectiva do<br> sociólogo Herbert de Souza (o Betinho). Já em 2018, o Caminhos da Reportagem apresentou um episódio em homenagem à Constituição de 1988 (que pavimentou a redemocratização do país)<br> chamado A Carta da Democracia.</p>
<p>Outra "homenageada" na semana é a televisão brasileira. No dia 18 é celebrado o Dia Nacional da Televisão. A comemoração foi instituída pela Lei 10.255/2001 e é uma homenagem à<br> primeira transmissão da TV Difusora (mais tarde TV Tupi) em 1950. No ano passado, a Agência Brasil fez uma série de reportagens em homenagem ao veículo de comunicação.<br> Em 2018, o programa Fique Ligado, da TV Brasil, também falou da data.</p>
<p>A semana é marcada ainda pelo Dia Internacional para a Preservação da Camada de Ozônio (dia 16), Dia do Início da Semana Nacional de Trânsito (dia 18) e Dia da Cachaça<br> (dia 13). No ano passado, a Agência Brasil fez uma reportagem falando da história da bebida (que chegou até a ser proibida no Brasil) no país. Já em março deste ano,<br> o Repórter Brasil fez uma reportagem sobre um pesquisador que criou um “glossário da cachaça” com 240 expressões.</p></h3></center>
<center><h2>Nascimentos e mortes</h2></center>
<center><h3>A semana também é marcada por nascimentos e mortes de figuras notáveis no meio artístico, esportivo e histórico do Brasil. No dia 12, o nascimento de<br> Álvares de Azevedo, autor de obras marcantes do ultrarromantismo como Noite na Taverna, completa 190 anos. Para celebrar a data, o Rádio Sociedade,<br> da MEC AM, fez um especial em sua homenagem:

Também no dia 12, o músico Roger Moreira, vocalista da banda Ultraje a Rigor, completa 65 anos.<br> No dia 14, é a vez do compositor Arrigo Barnabé completar 70 anos. No site das Rádios EBC é possível acessar diversas entrevistas feitas por ele<br> no programa Supertônica. Já no dia 16, o nascimento de José Flores de Jesus, o Zé Keti, completa 100 anos. O centenário está sendo homenageado nesta série<br> de reportagens da Rádio MEC (o primeiro episódio pode ser ouvido abaixo).

No meio esportivo, a semana tem o nascimento de duas figuras histórias<br> do futebol brasileiro. No dia 18, o nascimento do técnico Osvaldo Brandão (campeão brasileiro três vezes) completa 105 anos. No dia 14, o nascimento do ex-jogador<br> Zizinho faz 100 anos. Craque do Brasil na Copa do Mundo de 1950, ele nasceu em 14 de setembro de 1921. Um dos gols dele no mundial em que o Brasil ficou<br>em segundo lugar (contra a Iugoslávia) pode ser relembrado no áudio abaixo.

A semana também é marcada por mortes. No dia 17, a morte do militar e militante da<br> VPR (grupo que lutou contra o regime militar) Carlos Lamarca completa 50 anos. Já no dia 16, a morte do compositor paulista Carlos Gomes completa 125 anos.<br> Autor de obras como O Guarani, ele foi homenageado no programa Música e Músicos do Brasil em 2016 e teve a história contada no programa Caderno de Música no mesmoano.</h3></center>
<center><h2>Inaugurações e fundações</h2></center>

<center><h3>A semana ainda é marcada por datas como a inauguração do Theatro Municipal de São Paulo (110 anos no dia 12), a instituição do Fundo de Garantia do Tempo<br> de Serviço, o FGTS (55 anos no dia 13), criação do sistema operacional Linux (30 anos no dia 17) e promulgação da Constituição de 1946 (dia 18). A quinta<br> Carta Magna da história do Brasil foi lembrada pelo História Hoje em 2018.

Veículos da Empresa Brasil de Comunicação também estão em festa. Neste<br> dia 12, a Rádio Nacional do Rio de Janeiro completa 85 anos. No dia 14, o programa Viva Maria, apresentado pela jornalista e radialista Mara Régia, completa<br> 40 anos. Em abril deste ano, o Rádio Sociedade já começou as homenagens às quatro décadas de programa. Já em 2019, a própria Mara Régia falou sobre o programa no<br> EBC no Ar, da TV Brasil.</p></h3></center>

<h2><a href="/noticias">Voltar para a Lista de notícias</a></h2>

 </body>
</html>