<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <center><h2>Racismo no futebol brasileiro segue com punição branda desde caso Grafite</h2></center> 
   <center><h3> Grafite, 42, atacante da seleção brasileira na Copa do Mundo de 2010, campeão mundial com o São Paulo em 2005 e hoje comentarista da TV Globo,tem um arrependimento que já dura 16 anos.</h3>

<h3>Eu me arrependo por não ter levado adiante para ver as consequências. Provavelmente não daria em nada. Mas eu deveria ter levado adiante, afirma.</h3>

<h3>Ele se refere ao episódio com o argentino Leandro Desábato em partida entre São Paulo e Quilmes (ARG), no Morumbi, pela Libertadores de 2005. O atacante lembra-se de ter sido chamado de negro de merda.<br> O delegado Osvaldo Nico Gonçalves entrou em campo e deu voz de prisão ao defensor por racismo. Na lembrança dele, o brasileiro havia sido chamado de macaco.</h3>

<h3>Seis meses depois, Grafite precisava decidir se levaria o caso criminal adiante ou não. Após passar dois dias preso, o argentino pagou fiança de R$ 10 mil e voltou à Argentina. O atacante do São Paulo desistiu.</h3>

<h3>Mesmo depois de tanto tempo, é um episódio raro no futebol brasileiro. Segundo especialistas ouvidos pela reportagem, a dificuldade de punições criminais acontece por um misto de descrença das vítimas<br> de que haverá consequências sérias, falta de informação e a legislação do país.</h3>

<h3>São muitos poucos casos que foram à Justiça. A gente precisa ter o entendimento que a maioria dos casos de racismo no futebol são caracterizados como injúria racial.<br> O racismo é um crime inafiançável e imprescritível. A injúria racial oferece a possibilidade de converter a pena em trabalho social e pagamento de cestas básicas, diz Marcelo Carvalho,<br> fundador do Observatório da Discriminação Racial no Futebol.</h3>

<h3>Jogadores alvos de ofensas acreditam que basta apenas registrar Boletim de Ocorrência. Ignoram que o documento deve servir como base para um inquérito posterior e não levam a reclamação adiante.<br> Carvalho afirma existirem registros de jogadores que não conseguiram prestar queixa pela alegação do delegado local de que o atleta seria de outra cidade.</h3>

<h3>O delegado que fez isso agiu de forma incorreta. Ele está lá para exercer uma função pública e servir à população, diz Robson de Oliveira, presidente da comissão de Igualdade Racial da OAB de São Paulo.</h3>

<h3>Ele concorda com a avaliação de que há problemas na legislação e esta desestimula jogadores a buscar justiça.</h3>

<h3>O atleta muitas vezes não quer registrar porque sofre dupla sanção, pela ofensa que recebeu e como é visto no meio [do futebol]. Quando alguém fala do cabelo, chama de macaco, quer ofender. <br>Mas isso é classificado como injúria racial porque é contra o indivíduo, não é considerado racismo, um crime que afeta a dignidade humana. As pessoas que praticam [a injúria] sabem disso.<br> Percebem que a aplicação da lei neste caso é algo pouco substancial. Pagam umas cestas básicas e acabou, completa.</h3>

<h3>Pelo Código Penal, a injúria racial pode acarretar detenção de um a três meses e multa. O racismo tem pena máxima de três anos de prisão.</h3>

<h3>O último caso que se tornou público no futebol nacional foi o de Celsinho, do Londrina. Em partida da Série B, no final do mês passado, ele disse ter sido chamado de macaco por um dirigente do Brusque.</h3>

<h3>Na súmula, o árbitro Fabio Augusto Santos Sá Júnior relatou que o jogador foi ofendido com a frase: vai cortar esse cabelo, seu cachopa de abelha.</h3>

<h3>Celsinho contou ter sido a terceira vez que passou por fato semelhante e prometeu ir até o fim na área criminal.</h3>

<h3>No âmbito do STJD [Superior Tribunal de Justiça Desportiva], todos os casos que chegam ao nosso conhecimento e que possuam o mínimo de verossimilhança e<br>prova são denunciados, e os infratores, punidos. Não há impunidade, afirma o procurador-geral da máxima esfera da justiça desportiva do país, Ronaldo Botelho Piacente.</h3>

<h3>Segundo levantamento do próprio tribunal, 25 casos de injúria racial ou de gênero foram julgados desde 2014. Destes, 23 receberam punições variadas. No caso de multa,<br> foram de R$ 100 a R$ 60 mil. Atletas receberam suspensões por cinco jogos e dirigentes pegaram ganchos de 15 a 100 dias.</h3>

<h3>O Esportivo-RS perdeu três pontos no Campeonato Gaúcho de 2014. No mesmo ano, mas pela Copa do Brasil, o Grêmio também recebeu essa punição após a partida de ida contra o Santos, em Porto Alegre.<br> Uma torcedora chamou o goleiro Aranha de macaco. Isso acarretou na eliminação da equipe do torneio.</h3>

<h3>O Código [Brasileiro de Justiça Desportiva] já prevê penalidades em caso de injúria racial. Mas todo debate em relação ao tema é salutar. O mundo vive em constantes <br>mudanças e, com isso, regras, normas, leis devem se adequar a essas novas realidades, analisa Piacente.

<p>De acordo com dados do Observatório da Discriminação Racial no Futebol, de 2014 a 2020 aconteceram 49 casos de racismo levados ao STJD e aos tribunais estaduais.<br> Trinta tiveram alguma punição e 19 acabaram em absolvição. Foram aplicadas também a torcedores proibições de entrar em estádios por até dois anos.</p>

<p>O movimento negro tem trabalhado para mudar isso e mostrar que injúria racial e racismo são a mesma coisa. Isso pode tornar as punições mais severas, diz Robson de Oliveira.</p>

<p>O caso de racismo mais impactante da história do futebol nacional aconteceu com Grafite. Foi um fato que começou a alterar a percepção sobre o tema no esporte do país.</p>

<p>Desábato foi preso em um jogo transmitido ao vivo pela Globo.<br> Causou discussões acaloradas por dias, com vários comentaristas a considerar que a prisão havia sido exagerada. Houve o agravante da maneira como o crime foi enquadrado.</p>

<p>Eu não o prendi por injúria racial. Ele foi preso por racismo, afirma o delegado Nico.</p>

<p>Não é um assunto sobre o qual Grafite goste de falar. O comentarista ainda hoje flagra olhares atravessados quando vai a algum lugar caro, apenas por ser negro. Isso muda quando percebem<br> ser ele é um ex-jogador de futebol e funcionário da emissora mais popular do país.</p>

<p>Hoje o racismo está mais comum. Os racistas estão saindo do armário por tudo o que vivemos politicamente, estruturalmente. Não é um negócio pontual. Imagina meu caso <br>hoje em dia, com as redes sociais, iria reverberar muito mais. Repercutiria igual ao do George Floyd, acredita ele, citando o caso do americano morto pela polícia nos Estados Unidos.<br> O crime fez explodir o movimento Black Lives Matter.</p>

<p>Grafite considera punição por injúria racial, no esporte e na Justiça comum, como algo muito brando. Ao relembrar seu episódio com Desábato, constata que a denúncia e a prisão aconteceram quase por acaso.</p>

<p>O Nico passou por mim e disse que ia prender o argentino. Eu já estava indo embora. Se fosse cinco minutos depois, já teria saído do Morumbi. Muita gente me apoiou, muita gente me criticou.<br> Eu tinha de prestar depoimento, e o Desábato não iria voltar no Brasil. Eu estava sozinho e precisava seguir minha vida. Falavam mais do racismo do que das coisas que eu fazia<br> [em campo], dos gols..., completa Grafite, lembrando que se hoje considera fraco o engajamento racial, em 2005 não existia.</p></h3></center>
   <h2><a href="/noticias">Voltar para a Lista de notícias</a></h2>
    </center>
  </body>
</html>