<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= %></h1>
    <fieldset>
   <center><h1>Notícias de Hoje</h1></center>
   <center><h4>As Notícias mais questes do dia, você só encontra aqui.</h4></center></fieldset>
   <p> ESCOLHA A NOTÍCIA DO SEU INTERESSE, SEM PROPAGANDAS<br> E SAIBA TUDO O QUE ESTA ACONTECENDO HOJE.</p>

     <center><h3>Notícias</h3></center>
   <fieldset>
   <h3>Racismo no futebol brasileiro segue com punição branda desde caso Grafite</h3>
   <h3><a href="/noticias01">Apresentação desta notícia</a></h3>
   </fieldset>
   <fieldset>
    <h3>Hoje é Dia: celebrações à democracia e à televisão marcam a semana</h3>
    <h3><a href="/noticias02"> Apresentação desta notícia</a></h3>
   </fieldset>
   <fieldset>
   <h3>Djokovic tenta se isolar como o maior vencedor de Grand Slams</h3>
   <h3><a href="/noticias03">Apresentação desta notícia</a></h3>
   </fieldset>
   <fieldset>
   <h3>Brasil é 5º maior alvo de cibercrimes no mundo</h3>
   <h3><a href="/noticias04">Apresentação desta notícia</a></h3>
   </fieldset>
   <fieldset>
  <h3>Consumo de álcool na gravidez pode causar problemas físicos e distúrbios mentais ao bebê</h3>
    <h3><a href="/noticias05">Apresentação desta notícia</a></h3>
   </fieldset>

   <h2><a href="/">Voltar para pagina inicial</a></2>
   </body>
   </html>