<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
<center><h2> Djokovic tenta se isolar como o maior vencedor de Grand Slams</h2></center>

<center><h3>Novak Djokovic e o russo Daniil Medvedev decidem hoje o US Open, a partir das 17h (de Brasília). O sérvio nº 1 do mundo já está<br> acostumado com este cenário: são 30 finais de Grand Slams na carreira até aqui, mas essa terá um significado mais que especial.</h3>

<h3>A partida na quadra Arthur Ashe representa para Djokovic a chance de ser o tenista com mais títulos dos quatro grandes torneios do circuito profissional<br> de tênis. Ele terá a oportunidade de ser o primeiro a chegar aos 21 títulos, e sair do empate com Roger Federer e Rafael Nadal, que possuem 20 conquistas cada.</h3>

<h3>O sérvio pode ainda finalizar a temporada com os troféus dos quatro principais torneios de tênis, um feito sem precedentes em meio século. Em 2021, ele já foi campeão<br> do Australian Open, de Wimbledon e de Roland Garros. Uma vitória hoje fará de Djokovic apenas o terceiro homem, depois de Don Budge (1938) e Rod Laver<br>(1962 e 1969), a vencer os quatro Grand Slams no mesmo ano.</h3></center>

 <center><h3>Vou colocar meu coração, minha alma, meu corpo e minha cabeça nisso. Vou tratar o próximo jogo como se fosse o último da minha carreira — disse o sérvio após vencer o<br> alemão Alexander Zverev em cinco sets na semifinal.

Na quadra dura do US Open, Novak Djokovic já conquistou três títulos, mas o adversário desta vez promete dificulta<br> seu caminho para a glória.

O russo Medvedev, nº 2 do ranking, está ansioso para conquistar seu primeiro título de Grand Slam em sua terceira final.<br><br>Ele já enfrentou Djokovic em outras oito oportunidades no circuito, com o sérvio levando a melhor cinco vezes. O tenista de 25 anos chegou à final em Nova York perdendo apenas<br> um set e mostrando muito foco na conquista.

— Quanto mais você perde algo, mais você quer ganhar. Perdi duas finais. Quero vencer a terceira — disse o russo,<br> derrotado por Rafael Nadal no US Open em 2019 e por Djokovic na final do Aberto da Austrália no início deste ano.
<h2 class="rap">Experiência</h2></center>

<h3><center>Aos 34 anos, Djokovic é o finalista mais velho do US Open desde Andre Agassi (35 anos em 2005). Ele pode se tornar o campeão mais experiente do torneio desde Ken<br> Rosewall (35 anos em 1970). O sérvio já comemorou em Flushing Meadows em 2011, 2015 e 2018.

Diante de tantos números, a pressão recairá sobre Djokovic, mas ele<br> tem o hábito de abraçar as adversidades e se sobressair em partidas difíceis, onde sua resistência mental permite que ele jogue em outro nível.</h3></center>

<h2><a href="/noticias">Voltar para a Lista de notícias</a></h2>
</body>
</html>