<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
<center><h2>Brasil é 5º maior alvo de cibercrimes no mundo</h2></center>
<center><h4>Brasil já ultrapassou volume de ataques de 2020 apenas neste 1º semestre, com total de 9,1 milhões de ocorrências, considerando apenas os de "ransomware"</h4>
<h3>Mais constantes e cada vez mais sofisticados, os cibercrimes causam prejuízos cada vez maiores às empresas.<br> Apenas neste ano, as perdas globais podem chegar a US$ 6 trilhões – três vezes o Produto Interno Bruto (PIB)<br> do Brasil –, de acordo com estudo conduzido pela consultoria alemã Roland Berger.

<p>A percepção de especialistas<br> é a de que esse tipo de crime irá se aperfeiçoar ainda mais com o tempo, com as companhias tendo de gastar cada<br> vez mais para se proteger de ataques com pedidos de resgate.</p>

O Brasil tem sido um dos principais alvos globais.<br> O levantamento da Roland Berger aponta que o país já ultrapassou o volume de ataques do ano passado apenas<br> nesse primeiro semestre, com um total de 9,1 milhões de ocorrências, considerando apenas os de “ransomware”,<br> que restringem o acesso ao sistema infectado e cobram resgate em criptomoedas para que o acesso possa ser<br> restabelecido.Esse número coloca o país na quinta posição mundial de ataques, atrás apenas de EUA, Reino Unido,<br> Alemanha e África do Sul.

<p>“O tema de cibersegurança já vem evoluindo no Brasil e no mundo na última década.</p><br> Hoje, isso não tem apenas relação com a segurança dos dados, mas de infraestrutura”, diz o sócio-diretor e<br> especialista em Inovação da Roland Berger, Marcus Ayres. Segundo ele, quando o ataque ocorre na infraestrutura,<br> a empresa deixa de operar e tem prejuízos. “O custo disso é gigante.”</h3> </center>

  <h2><a href="/noticias">Voltar para a Lista de notícias</a></h2>

 </body>
</html>