<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
 <center> <h2>Consumo de álcool na gravidez pode causar problemas físicos e distúrbios mentais ao bebê</h2></center>
 <center><h3>A Sociedade Brasileira de Pediatria (SBP) emitiu um alerta sobre o consumo de álcool na gravidez.<br> Essa prática perigosa é um fator de risco para o desenvolvimento da Síndrome Alcoólica Fetal (SAF),<br> que pode levar a deficiências físicas e distúrbios de neurodesenvolvimento. As informações são da Agên-<br>cia Brasil.

A médica Conceição Segre, coordenadora da Campanha de Prevenção à SAF da SBP, afirma<br> que, hoje, não há tratamento que leve à cura da síndrome, que pode levar a danos irreversíveis, como<br> retardo mental e anomalias congênitas. Por isso, é importante que se reforce as ações de conscientização<br> para a prevenção.

— O que se recomenda é que, durante a gestação, a mulher não ingira nenhuma, zero<br> quantidade de álcool, porque a gente não sabe, até hoje a ciência ainda não descobriu, se tem alguma<br> quantidade segura (de ingestão). O que se sabe é que qualquer quantidade de álcool em qualquer momen-<br>to da gestação pode atingir o feto e causar a Síndrome Alcoólica Fetal, completa ou parcial — disse.</h3>
<h3>Conceição explica ainda que o álcool passa facilmente pela placenta e atinge o feto, podendo causar várias<br> lesões, principalmente, no sistema nervoso central.

— A síndrome pode ser completa ou parcial. Quando é<br> completa, ela se manifesta em defeitos na face, então o bebê tem uma característica facial bastante peculiar,<br> ele tem lábios finos, pálpebras pequenas, a face dele pode ser reconhecida já no nascimento.

Se o bebê não<br> apresenta essas características já ao nascer, ele pode manifestar sintomas que aparecem, em geral, na idade<br> escolar. Ou seja, a criança não vai bem na escola, tem problema no aprendizado ou ainda apresenta distúrbios<br> de comportamento.</h3>
<h2>Tratamento não cura e custa caro</h2>

<h3>A médica Conceição Segre explica que a SAF é uma “doença que não tem cura ou tratamento curativo. O que<br> existe é tratamento de apoio, com psicólogos, equipe multiprofissional, terapeutas ocupacionais, psiquiatras,<br> enfim, é um tratamento complicado e caro, ainda segundo Segre.

A Sociedade Brasileira de Pediatria tem uma<br> plataforma com o objetivo de ampliar a conscientização das mães e profissionais da saúde sobre os danos da<br> ingestão de álcool durante a gravidez para os bebês.

O Ministério da Saúde informou que há equipes que inves-<br>tigam o consumo de álcool das gestantes durante o pré-natal e, se necessário, recomendam tratamento ou a inter-<br>rupção do consumo de álcool durante a gestação. No período de 2017 a 2021, foram registradas 39 internações de<br> bebês diagnosticados com a SAF, segundo dados da pasta.</h3></center>
<h2><a href="/noticias">Voltar para a Lista de notícias</a></h2>
 </body>
</html>